
venv/

img/

*.pyc

mt_bet_data/*
mt_bet_data/*.mat

mt_bet_data/kde_geometry.mat
mt_bet_data/kde245_geometry.mat
mt_bet_data/KDE245_geometry.xlsx
mt_bet_data/kde305_geometry.mat
mt_bet_data/KDE305_geometry.xlsx

mt_bet_data/naca5407_geometry.mat

mt_bet_data/NACA5407_Station*
mt_bet_data/NACA5407_Station1.c81
mt_bet_data/NACA5407_Station2.c81
mt_bet_data/NACA5407_Station3.c81
mt_bet_data/NACA5407_Station4.c81
mt_bet_data/NACA5407_Station5.c81
mt_bet_data/NACA5407_Station6.c81
mt_bet_data/NACA5407_Station7.c81
mt_bet_data/NACA5407_Station8.c81
mt_bet_data/NACA5407_Station1.mat
mt_bet_data/NACA5407_Station2.mat
mt_bet_data/NACA5407_Station3.mat
mt_bet_data/NACA5407_Station4.mat
mt_bet_data/NACA5407_Station5.mat
mt_bet_data/NACA5407_Station6.mat
mt_bet_data/NACA5407_Station7.mat
mt_bet_data/NACA5407_Station8.mat

